@import url('http://fonts.cdnfonts.com/css/napo');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    width: 100%;
    background: linear-gradient(to right, #34e89e, #0f3443);
    display: flex;
    align-items: center;
    justify-content: center;
}

.block{
    height: 60vh;
    width: 50%;
    background: white;
    border-radius: 30px;
    display: flex;  /* change -> flex */
    justify-content: center;
}

.block .left{
    width: 60%;
    display: flex;
    /* align-items: center;
    justify-content: center;
    flex-direction: column;  */
}

.left{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.left h2{
    font-size: 6vmin;
    font-family: 'napo', sans-serif;
    margin-bottom: 30px;
}

form{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

form input{
    text-align: center;
    font-family: 'napo',sans-serif;
    background-color: "#eee";
    /* border: none; */
    padding: 12px 15px;
    margin: 8px 0;
    width: 70%;
    font-size: 1rem;
}

form button{
    border-radius: 20px;
    border: 1px solid #0083b0;
    background:  linear-gradient(to right, #56ccf2, #2f80ed);
    color: white;
    font-weight: bold;
    font-size: 2.5vmin;
    padding: 12px 45px;
    margin-top: 20px ;
    font-family: 'napo',sans-serif;
    letter-spacing: 5px;
}

.left a{
    margin-top: 20px;
    font-size: 1rem;
    text-decoration: none;
    color: black;
    font-family: 'napo',sans-serif;
}

.right{
    width: 50%;
    background: #0f3443;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    
}

.right img{
    width: 100%;
}

.right h2{
    font-family: 'napo',sans-serif;
    color: whitesmoke;
}

.block_signup{
    height: 60vh;
    width: 50%;
    background: whitesmoke;
    display: none;
    /* align-items: center; */
    justify-content: center;
    border-radius: 30px;
}
.signup_left{
    width: 50%;
    border-radius: 30px 0px 0px 30px;
    background: #0f3443;
    display: flex;
    justify-content: center;
}

.signup_left img{
    width: 100%;
}

.block_signup .signup_right{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.signup_right h2{
    font-size: 6vmin;
   font-family: 'napo',sans-serif;
   margin-bottom: 30px;
}

.signup_right a{
    margin-top: 20px;
    font-size: 1rem;
    text-decoration: none;
    color: black;
    font-family: 'napo',sans-serif;
}

.overlay-container{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}

.container .right-panel-active .overlay-container{
    transform: translateX(-100%);
}

.overlay{
    background: #0f3443;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: whitesmoke;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-panel{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}


@media only screen and (max-width:850px){
    .block{
        height: 100vh;
        width:100%;
        border-radius: 0px;
    }
    .block .left{
        width: 75%;
    }
   
    .left a{
        font-size: 1rem;
    }
    .left h2{
        font-size: 5vmax;
    }
    form input{
        width: 80%;
    }
    .right{
        display: none;
    }
    
    .block_signup{
        height: 100vh;
        width: 100%;
        border-radius: 0px;
    }

    .signup_left{
        display: none;
    }

    .block_signup .signup_right{
        width: 75%;
    }

    .block_signup .signup_right h2{
        font-size: 5vmax;
    }


    
}

@media only screen and (max-width:1300px) and (min-width:851px){
    .block{
        width: 60%;
    }


    .block_signup{
        width: 60%;
    }
}